@import "../CONSTANTS"
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap')
$circleCenterX : 100px
$circleCenterY : -50px
$maxRadius : 720px
.circles-hidden
  .project-body
    opacity: 0 !important
    transition: opacity 0s !important
  .circle, .circle-is-chosen
    display: none
    opacity: 0
    transition: opacity 0s

#circles
  transition : opacity .3s
  .project-body
    opacity: 1
    transition: opacity 2s ease-out
  opacity: 1
#circles
  position: absolute
  top : 700px
  overflow: hidden
  width : 100%
  min-width: 980px
  height: 100vh
  min-height: 751px
.circle, .circle-is-chosen
  position: absolute
  transform-origin: center
  border-width: 101px
  border-style: solid
  border-radius: 0 0 100% 100%
  background: transparent

  p
    display: block
    position: absolute
    text-align: left
    left: calc( 50% - 90px)
    font-size: 30px
    bottom: -60px

.circle
  z-index: 101
  filter : brightness(15%)
  color : transparent

.circle-is-chosen
  z-index: 103
  color : $BLACK_BACKGROUND
  filter : brightness(80%)
  &:hover
    cursor: pointer

.project-body
  position: absolute
  width: 100%
  height: 100vh
  transition: .1s
  opacity: 1
  background : $WHITE_BACKGROUND
  transition-property : width, height, margin, border-radius

.project-body-show
  width: 99%
  height: 651px
  margin-right: 1%
  transition: .4s, opacity 2s
  transition-property : width, height, margin, border-radius
  margin-bottom : 1%
  border-radius: 0 50px 100px 100px

.project-body-hidden
  filter :  brightness(80%)
  z-index : 1


.content-holder-circle
  float: left
  border-radius: 100%
  margin-left : -$maxRadius
  margin-top: -$maxRadius
  shape-outside: circle(725px at $circleCenterX $circleCenterY)
  width: calc(100% + 1440px)
  height: calc(100vh + 800px)

.project-image
  top : $circleCenterY
  left: $circleCenterX - $maxRadius
  position : absolute
  width : $maxRadius * 2
  height : $maxRadius
  background-image: url("./test.jpg")
  background-position: right
  background-repeat: no-repeat
  background-size: cover
  opacity: 0.1
  border-radius: 0 0 $maxRadius $maxRadius

.content-holder
  margin : 0
  padding: 0
  z-index: 102
  min-height: 100vh
  width: 100%
  text-align: left
  position : absolute
  transform-origin: center
  filter : brightness(100%)
  color : $BLACK_BACKGROUND

  p
    font-size: 20px
  a
    display: block
    position: absolute
    min-width: 50px
    right: 0
    margin-top : 10px
    background: red
    padding-right: 20px
    text-decoration: none
    text-indent: 7px
    color : $WHITE_BACKGROUND
    background: $BLACK_BACKGROUND

    &:hover
      &:hover
        opacity: 0.9
      &:active
        opacity: 0.8

$width : 100% / 7

.click-on-rainbow
  display: flex
  justify-content: center
  align-items: center

  position : absolute
  right : 0

  min-width: 100px
  width: calc(100% - 700px)
  height: 100%

  filter : brightness(100%)
  h1
    color : $BLACK_BACKGROUND
    text-align: center
    max-width: 400px
    font-size: 3em
    transform: rotate(-30deg)
    font-family: 'Dancing Script', cursive

    //background: linear-gradient( $RAINBOW_RED 0, $RAINBOW_RED $width, $RAINBOW_ORANGE $width, $RAINBOW_ORANGE 2 * $width, $RAINBOW_YELLOW 2 * $width, $RAINBOW_YELLOW 3 * $width, $RAINBOW_GREEN 3 * $width, $RAINBOW_GREEN 4 * $width, $RAINBOW_BLUE 4 * $width, $RAINBOW_BLUE 5 * $width, $RAINBOW_PURPLE 5 * $width, $RAINBOW_PURPLE 6 * $width, $RAINBOW_PINK 6 * $width, $RAINBOW_PINK 7 * $width)
